.navbar-div{
    padding: 1rem;
    background-color: #0F4C45;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-div ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem 2.5rem;
    font-size: 1rem;
    margin: 0;
}

.navbar-div a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-family: "Cormorant Garamond", serif;
    text-decoration: none;
    &:hover{
        color: #C89B3C;
        text-shadow: 0 0 12px #C89B3C;
    }
}

.not-active{
    color: white;
}

.nav-active{
    color: #C89B3C;
    text-shadow: 0 0 12px #C89B3C;
}

.navbar-div button{
    padding: 0.5rem 1rem;
    border-radius: 22px;
    border: none;
    color: white;
    font-weight: 700;
}

#nav-toggle {
    border: none;
    background-color: #0F4C45;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    display: none;
}

@media (width < 1100px) {
    .navbar-div{
        justify-content: end;
        gap: 2rem;
    }

    #nav-ul {
        display: none;
        position: absolute;
        top: 4.5rem;
        right: 1rem;
        padding: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #0f4c45;
        width: 20%;
        border-radius: 12px;
    }

    #nav-toggle {
        display: block;
    }
}

@media (width< 650px) {
    #nav-ul{
        width: 30%;
    }
}


@media (width< 450px) {
    #nav-ul{
        width: 50%;
    }
}